@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Models.RoundModel>

@{ Layout = "layout/main.cshtml"; }


<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-circle-o"></i> Shares for current round: @Model.Round</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Worker</th>
                            <th>Shares</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var worker in Model.Shares)
                        {
                            <tr>
                                <td>@worker.Key</td>
                                <td>@worker.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>