@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-money"></i> Donate CoiniumServ</h3>
            </div>
            <div class="box-body no-padding">
                <div class="callout callout-info">
                    <p>
                        <a href="http://www.coiniumserv.com" target="_blank">
                            <img src="/Content/img/CoiniumServ.png" style="width: 16px; height: 16px; border: 0px;">
                            <strong>CoiniumServ</strong>
                        </a>
                        is an open-source & community-driven project aiming to develop next-gen crypto-currency pooled mining server software.
                        If you like the software, you can support the project by donating.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-bitcoin"></i> Directly send crypto currencies</h3>
            </div>
            <div class="box-body">
                You can directly donate to our following addresses;<br /><br />
                <ul>
                    <li>Bitcoin: <a href="bitcoin:1MMdwRZg4K9p6oH2bWUQdohbxGbAvXS1t1?label=CoiniumServ%20Donation"><code>1MMdwRZg4K9p6oH2bWUQdohbxGbAvXS1t1</code></a></li>
                    <li>Litecoin: <a href="ethereum:Ld8cy4ucf3FYThtfTnRQFFp5MKK9rZHjNg?label=CoiniumServ%20Donation"><code>0x61aa3e0709e20bcb4aedc2607d4070f1db72e69b</code></a></li>
                    <li>Litecoin: <a href="litecoin:Ld8cy4ucf3FYThtfTnRQFFp5MKK9rZHjNg?label=CoiniumServ%20Donation"><code>Ld8cy4ucf3FYThtfTnRQFFp5MKK9rZHjNg</code></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-bitcoin"></i> Other methods</h3>
            </div>
            <div class="box-body">
                You can also support the development of the project with different over these services;<br /><br />
                <a class="coinbase-button" data-code="cf6bb9334d09f07ad3abbe5894702ae9" data-button-style="custom_small" href="https://coinbase.com/checkouts/cf6bb9334d09f07ad3abbe5894702ae9">Donate Bitcoins</a>
                <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                <br />
                <a href="https://www.bountysource.com/trackers/401667-coiniumserv?utm_source=401667&utm_medium=shield&utm_campaign=TRACKER_BADGE" target="_blank"><img src="https://www.bountysource.com/badge/tracker?tracker_id=401667" alt="Donate using BountySource" /></a><br />
                <a href="https://tip4commit.com/github/CoiniumServ/CoiniumServ" target="_blank"><img src="https://tip4commit.com/projects/760.svg" alt="Tip using tip4commit" /></a><br />
                <a href="https://gratipay.com/on/github/CoiniumServ" target="_blank"><img src="http://img.shields.io/badge/gratipay-donate-brightgreen.svg" alt="Tip using GratiPay" /></a><br />
            </div>
        </div>
    </div>
</div>