<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AustinHarris.JsonRpc" version="1.1.70" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net462" />
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net45" />
  <package id="Gibbed.IO" version="1.0.0" targetFramework="net45" />
  <package id="HashLib" version="2.0.1" targetFramework="net45" />
  <package id="JsonConfig" version="1.0.0" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="Metrics.NET" version="0.5.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net462" />
  <package id="Nancy" version="1.4.4" targetFramework="net462" />
  <package id="Nancy.CustomErrors" version="1.2.0.0" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Metrics" version="0.4.7" targetFramework="net462" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Serilog" version="1.4.14" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
</packages>