<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AustinHarris.JsonRpc" version="1.1.70" targetFramework="net47" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net47" />
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net47" />
  <package id="Dapper" version="1.50.4" targetFramework="net47" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net47" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net47" />
  <package id="Gibbed.IO" version="1.0.0" targetFramework="net47" />
  <package id="HashLib" version="2.0.1" targetFramework="net47" />
  <package id="JsonConfig" version="1.0.0" targetFramework="net47" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net47" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net47" />
  <package id="Nancy" version="1.4.4" targetFramework="net47" />
  <package id="Nancy.CustomErrors" version="1.2.0.0" targetFramework="net47" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net47" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="Serilog" version="2.6.0" targetFramework="net47" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net47" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net47" />
</packages>
