<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AustinHarris.JsonRpc" version="1.0.4.18" targetFramework="net45" />
  <package id="Metrics.NET" version="0.1.11" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.CustomErrors" version="1.0.6.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net45" />
  <package id="NancyFx.Metrics" version="0.1.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
</packages>