<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="active">
            <a href="/">
                <i class="ion ion-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/pools/">
                <i class="ion ion-beaker"></i>
                <span>Pools</span>
            </a>
        </li>
        <li>
            <a href="/algorithms/">
                <i class="ion ion-gear-a"></i>
                <span>Algorithms</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="ion ion-help-buoy"></i> <span>Help</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/help/gettingstarted/" style="margin-left: 10px;"><i class="ion ion-flash"></i> Getting Started</a></li>
                <li><a href="/help/faq/" style="margin-left: 10px;"><i class="fa fa-question-circle"></i> FAQ</a></li>
                <li><a href="/help/miningsoftware/" style="margin-left: 10px;"><i class="fa fa-cogs"></i> Mining Software</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="ion ion-help-buoy"></i> <span>Other</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/api/" style="margin-left: 10px;"><i class="fa fa-signal"></i> API</a></li>
                <li><a href="/tos/" style="margin-left: 10px;"><i class="fa fa-exclamation-circle"></i> Terms of Service</a></li>
				<li><a href="/contact/" style="margin-left: 10px;"><i class="fa fa-question"></i> Contact Us</a></li>
            </ul>
        </li>
    </ul>
</section>
