@{ Layout = "layout.cshtml"; }


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Donation</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="bitcoin:18qqrtR4xHujLKf9oqiCsjmwmH5vGpch4D?label=CoiniumServ%20Donation" class="list-group-item">
                        <span class="badge">18qqrtR4xHujLKf9oqiCsjmwmH5vGpch4D</span>
                        Bitcoin (BTC)
                    </a>
                </div>       
                <div class="list-group">
                    <a href="litecoin:LMXfRb3w8cMUBfqZb6RUkFTPaT6vbRozPa?label=CoiniumServ%20Donation" class="list-group-item">
                        <span class="badge">LMXfRb3w8cMUBfqZb6RUkFTPaT6vbRozPa</span>
                        Litecoin (LTC)
                    </a>
                </div>  
                <div class="list-group">
                    <a href="dogecoin:DM8FW8REMHj3P4xtcMWDn33ccjikCWJnQr?label=CoiniumServ%20Donation" class="list-group-item">
                        <span class="badge">DM8FW8REMHj3P4xtcMWDn33ccjikCWJnQr</span>
                        Dogecoin (DOGE)
                    </a>
                </div>  
                <div class="list-group">
                    <a href="reddcoin:Rb9kcLs96VDHTmiXVjcWC2RBsfCJ73UQyr?label=CoiniumServ%20Donation" class="list-group-item">
                        <span class="badge">Rb9kcLs96VDHTmiXVjcWC2RBsfCJ73UQyr</span>
                        Reddcoin (RDD)
                    </a>
                </div>                                                           
            </div>
        </div>
    </div>
</div>
