@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <title>CoiniumServ</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/coiniumserv.png" style="width: 24px; height: 24px;" /> CoiniumServ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="/api/"><i class="fa fa-bar-chart-o"></i> API</a></li>                    
                    <li><a href="/donate/"><i class="fa fa-bitcoin"></i> Donate</a></li> 
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            @RenderBody()

        </div><!-- /#page-wrapper -->

           <div class="row">
            <div id="footer" class="hidden-print">
                <div style="text-align: center;">
                    Pool-name is powered by open source <a href="https://github.com/CoiniumServ/CoiniumServ" target="_blank">CoiniumServ</a> project created by <a href="http://www.coinium.org" target="_blank">coinium.org</a>
                </div>
                <div style="text-align: center;">
                    <i class="fa fa-comment"></i> <a target="_blank" href="http://webchat.freenode.net/?channels=%23coiniumserv&prompt=1&uio=OT10cnVlde">#coiniumserv</a>
                    | <i class="fa fa-comments"></i> <a href="http://forum.coinium.org/forum/19-support/" target="_blank">Forums</a>
                    | <i class="fa fa-bar-chart-o"></i> <a href="/api/">API</a>
                    | <i class="fa fa-heart"></i> <a href="/donate/">Donate</a>
                    | <iframe src="http://ghbtns.com/github-btn.html?user=CoiniumServ&amp;repo=CoiniumServ&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe>
                </div>
            </div>
        </div>

    </div><!-- /#wrapper -->
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="/js/morris/chart-data-morris.js"></script>
    <script src="/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/js/tablesorter/tables.js"></script>

</body>
</html>
