<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jayrock" version="0.9.16530" targetFramework="net40" />
  <package id="jayrock-json" version="0.9.16530" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.22.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Serilog" version="1.2.3" targetFramework="net40" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net40" />
</packages>