<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <!--
                    IMPORTANT: YOU ARE NOT ALLOWED TO REMOVE following license & copyright text!
                    If you would like to do so, check our white-labeling solutions: http://www.coiniumserv.com/shop/services/white-labeling/
                -->
                Powered by open source <a href="https://www.coiniumserv.com" target="_blank">CoiniumServ</a> project created by <a href="http://www.coinium.org" target="_blank">coinium.org</a>.                
            </p>
            <div>
                Last updated @@ @ViewBag.LastUpdate.                                
                | <a href="/api/">API</a>
                | <a href="/tos/">Terms of Service</a>
                | <a href="/donate/">Donate</a>
                | <iframe style="width: 85px; height: 20px; margin-top: 10px;" src="http://ghbtns.com/github-btn.html?user=CoiniumServ&amp;repo=CoiniumServ&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
                | <iframe style="width: 85px; height: 20px; margin-top: 10px;" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCoiniumorg%2F639179226128343&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</footer>