<footer>
    <div class="container">
        <p class="text-muted text-center">
            <!--
            IMPORTANT: YOU ARE NOT ALLOWED TO REMOVE following license & copyright text!
            If you would like to do so, check our white-labeling solutions: http://www.coiniumserv.com/shop/services/white-labeling/
            -->
            Powered by open source <a href="https://www.coiniumserv.com" target="_blank">CoiniumServ</a> project created by <a href="http://www.coinium.org" target="_blank">coinium.org</a>.

            Last updated @@ @ViewBag.LastUpdate.
            | <a href="/api/">API</a>
            | <a href="/tos/">Terms of Service</a>
            | <a href="/donate/">Donate</a>
        </p>
    </div>
</footer>