<footer>
    <p class="text-muted text-center">
        <!--
        IMPORTANT: YOU ARE NOT ALLOWED TO REMOVE following license & copyright text!
        If you would like to do so, check our white-labeling solutions: http://www.coiniumserv.com/shop/services/white-labeling/
        -->
        Proudly powered by <a href="http://www.coiniumserv.com" target="_blank">
            <img src="/Content/img/CoiniumServ.png" style="width: 16px; height: 16px; border: 0px;" />
            <strong>CoiniumServ</strong>
        </a>.

        Data last updated @@ @ViewBag.LastUpdate.
        [ <a href="/api/">API</a>
        | <a href="/tos/">Terms of Service</a>
        | <a href="/donate/">Donate</a> 
        | <a href="/contact/">Contact Us</a> ]
    </p>
</footer>