<h1>
    @ViewBag.Heading
    <small>@ViewBag.SubHeader</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Blank page</li>    
</ol>