<section class="sidebar">
  <ul class="sidebar-menu">
      <li class="active">
          <a href="/">
              <i class="ion ion-home"></i>
              <span>Home</span>
          </a>
      </li>
      <li>
          <a href="/pools/">
              <i class="ion ion-beaker"></i>
              <span>Pools</span>
          </a>
      </li>
      <li>
          <a href="/algorithms/">
              <i class="ion ion-gear-a"></i>
              <span>Algorithms</span>
          </a>
      </li>
      <li>
          <a href="/help/">
              <i class="ion ion-help-buoy"></i>
              <span>Help</span>
          </a>
      </li>
      <li>
          <a href="/help/gettingstarted/">
              <i class="ion ion-flash"></i>
              <span>Getting Started</span>
          </a>
      </li>    
  </ul>
</section>
