@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Nancy.CustomErrors.ErrorViewModel>

@{ ViewBag.Title = "Error"; }
@{ ViewBag.Heading = "Error"; }

@{ Layout = "layout/main.cshtml"; }

<div class="error-page">
    <h2 class="headline text-info"> ERR</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oups!</h3>
        <p>
            @Model.Summary
        </p>
    </div>
</div>